<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <div class="container-from">
      <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
        <div class="form-control">
          <label for="title">Nombre del producto:</label>
          <input type="text" required name="title" id="title" value="<% if (editing) { %><%= product.title %><% }  %>">
        </div>
        <div class="form-control">
          <label for="imageUrl">URL de la imagen:</label>
          <input type="text" required name="imageUrl" id="imageUrl" value="<% if (editing) { %><%= product.imageUrl %><% }  %>">
        </div>
        <div class="form-control">
          <label for="price">Precio:</label>
          <input type="number" required name="price" id="price" step="0.01" min="1" value="<% if (editing) { %><%= product.price %><% }  %>">
        </div>
        <div class="form-control">
          <label for="stock">Stock:</label>
          <input type="number" required name="stock" id="stock" step="1" min="1" value="<% if (editing) { %><%= product.stock %><% }  %>">
        </div>
        <div class="form-control">
          <label for="description">Descripción:</label>
          <textarea name="description" required id="description" rows="5"><% if (editing) { %><%= product.description %><% }  %></textarea>
        </div>
        <% if (editing) { %>
        <input type="hidden" value="<%= product.id %>" name="productId">
        <% } %>

        <button class="btn" type="submit">
          <% if (editing) { %>Actualizar<% } else { %>Registrar Producto<% } %>
        </button>
      </form>
    </div>
  </main>
  <%- include('../includes/end.ejs') %>