<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Odalia Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/"><img  class="img"  src="/imgs/logo.png" alt="" ></a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Carrito🛒</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Pedidos📦</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Registrar Producto📒</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Administrar Productos💻</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login🥈
        </a>
      </li>
      <li>
        

      </li>
    </ul>
  </nav>
</header>

<nav class="mobile-nav">

  <ul class="mobile-nav__item-list" >
    <li class="mobile-nav__item" ">
        <div class="centered">
          <img src="/imgs/logo.png" alt="">
        </div>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
    </li>
    <!-- <li class="mobile-nav__item">
                    <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
                </li> -->
    <li class="mobile-nav__item">
      <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Carrito🛒</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Pedidos📦</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Registrar Producto 📒</a>
    </li>

    <li class="mobile-nav__item">
      <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Administrar Productos 💻</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login 🥈
      </a>
    </li>
    

  </ul>
</nav>