<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="container-formulario">
	<h2 class="titulo-form">Iniciar Sesi칩n</h2>

    <% if (errorMessage) { %>
      <p class="error-message">
        <%= errorMessage %>
      </p>
    <% } %>

    <% if (user) { %>
      <div class="logged-in-container">
        <% if (user?.name) { %>
          <div class="user-name">Bienvenido <%= user.name %>!</div>
        <%  } %>
        <form class="logout-form" action="/logout" method="POST">
          <button class="btn" type="submit">Cerrar sesi칩n</button>
        </form>
      </div>
    <% } else { %>
      <form class="auth-form max-500" action="/login" method="POST">
        <div class="form-control">
          <label for="email">Email</label>
          <input type="email" required name="email" id="email">
        </div>
        <div class="form-control">
          <label for="password">Contrase침a</label>
          <input type="password" required name="password" id="password">
        </div>

        <div class="card__actions">
			<button class="btn" type="submit">Iniciar sesi칩n</button>        
        	<a class="btn" href="/register">Registrarse</a>
		</div>
      </form>
    <% } %>
  </main>

<%- include('../includes/end.ejs') %>
